.navbar {
  background-color: #fafafccc;
  backdrop-filter: saturate(180%) blur(20px);
  padding: 10px 20px;
  position: fixed;
  inset-block-start: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  inline-size: 100%;
  block-size: 44px;
  box-sizing: border-box;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #0071e3;
  background: none;
}

.nav-menu a i {
  font-size: 18px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background-color: #333;
  block-size: 1px;
  inline-size: 14px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navlogo {
  block-size: 18px;
  margin: 0px 20px;
}

@media (max-width: 880px) {
  .navbar {
    background-color: #fafafc;
    block-size: 48px;
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    inset-block-start: 48px;
    inset-inline-start: 0;
    background-color: #fafafc;
    inline-size: 100%;
    padding: 12px 48px 480px 48px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    align-items: start;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
    margin: 10px;
  }

  .nav-menu a {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.007em;
  }
}